/* .chart {
  margin: 20px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}

.chartTitle {
  margin-bottom: 20px;
} */

.chart {
  flex: 4;
  border: 1px solid #dadce0;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  color: gray;
}
.title {
  margin-bottom: 20px;
}
.chartGrid {
  stroke: rgb(228, 225, 225);
}
@media only screen and (max-width: 600px) and (min-width: 320px) {
  .chart {
    display: none;
  }
}
