.home {
  flex: 4;
  width: 100%;
  margin: 1em 0;
}
.cards {
  display: flex;
  margin: 0 1em;
  gap: 10px;
}
.homeWidgets {
  display: flex;
  margin: 20px;
}

/* small devices */

@media only screen and (min-width: 320px) {
  .home {
    width: 80%;
  }

  .cards {
    flex-wrap: wrap;
    gap: 20px;
  }
}
/* tablets */

@media only screen and (min-width: 665px) {
  .cards {
    flex-wrap: nowrap;
  }
}
