.sidebar {
  /* flex: 1; */
  border-right: 1px solid #dadce0;
  height: 100vh;
  background-color: #fafafa;
  position: sticky;
  top: 0;
}
.logo {
  object-fit: contain;
  width: 25px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
  text-align: left;
}

.sidebarTitle {
  font-size: 20px;
  color: #196d3a;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  margin: 1em 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 200px;
  height: 48px;
  border-radius: 8px;
  text-decoration: none;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #c8ee44;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

/* small screens */
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .sidebar {
    width: 20%;
  }

  .sidebarWrapper {
    padding: 15px;
    height: 100%;
  }
  .sidebarTitle {
    justify-content: center;
  }
  .sidebarTitle > img {
    width: 30px;
  }
  .sidebarTitle > p {
    display: none;
  }

  .sidebarList {
    padding: 0;
  }
  .sidebarListItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iconTxt {
    display: none;
  }
}
