.myFarm {
  flex: 4;
}
.top {
  margin: 20px;
}
.teaContainer {
  margin: 1em 0;
  display: flex;
  justify-content: space-evenly;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
