.myFarm {
  flex: 4;
}
.top {
  margin: 20px;
}
.teaContainer {
  margin: 1em 0;
  display: flex;
  justify-content: space-evenly;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .myFarm {
    width: 80%;
  }

  .teaContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rightContainer {
    align-items: center;
    width: 100%;
  }
}
